{% extends '../templates/base/base.html' %}

{% block title %}Agendamiento de Examenes{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-offset-0">
            <ul class="nav nav-tabs">
                {% if tap == "Ingles" %}
                <li class="active" ><a>Ingles</a></li>
                {% else %}
                <li><a href="/inscripcion/agendar_citas/?tap=Ingles">Ingles</a></li>
                {% endif %}
                {% if tap == "Frances" %}
                <li class="active"><a>Frances</a></li>
                {% else %}
                <li><a href="/inscripcion/agendar_citas/?tap=Frances">Frances</a></li>
                {% endif %}
                {% if tap == "Italiano" %}
                <li class="active" ><a>Italiano</a></li>
                {% else %}
                <li><a href="/inscripcion/agendar_citas/?tap=Italiano">Italiano</a></li>
                {% endif %}
                {% if tap == "Portugues" %}
                <li class="active" ><a>Portugues</a></li>
                {% else %}
                <li><a href="/inscripcion/agendar_citas/?tap=Portugues">Portugues</a></li>
                {% endif %}
            </ul>
            <br>
            <div class="col-sm-3" style="background-color:lightcyan;">
                <center><h3><strong>Solicitudes Pendientes</strong></h3></center>
                <h4>Adultos</h4>
                <div class="list-group">
                    {% if citaciones_no_disponibles_adultos %}
                        {% for citas in citaciones_no_disponibles_adultos %}
                            <a class="list-group-item list-group-item-danger" >{{citas.persona.nombres}}
                            {% if citas.estado_inscripcion == False %}
                                (Pendiente Aprobacion de inscripcion)
                            {% else %}
                                (No hay cupos disponibles)
                            {% endif %}
                            </a>
                        {% endfor %}
                    {% else %}
                        <a class="list-group-item">No hay solicitudes</a>
                    {% endif %}
                </div>
                <h4>Niños</h4>
                <div class="list-group">
                    {% if citaciones_no_disponibles_ninos %}
                        {% for citas in citaciones_no_disponibles_ninos %}
                            <a class="list-group-item list-group-item-success">{{citas.persona.nombres}}
                            {% if citas.estado_inscripcion == False %}
                                (Pendiente Aprobacion de inscripcion)
                            {% endif %}</a>
                        {% endfor %}
                    {% else %}
                        <a class="list-group-item">No hay solicitudes</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-9" style="background-color:lightcyan;">  
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>    
                    {% endfor %}
                {% endif %}
                <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center" >Fecha Examen</th>
                            <th class="text-center" >Tipo</th>
                            <th class="text-center">Sede</th>
                            <th class="text-center">Ubicacion</th>
                            <th class="text-center" style="width:10%;">Cupos</th>
                            <th class="text-center">Responsable</th>
                            <th class="text-center">Acciones</th>
                            <th class="text-center">Cupos Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for citacion in citaciones %}
                            {% if citacion.nuevo %}
                            <tr id="new" style="display:none">
                                <form method='POST'>
                                
                                {% csrf_token %}
                                <td>{{ citacion.form.fecha_examen }}</td>
                                <td>{{ citacion.form.edad }}</td>
                                <td>{{ citacion.form.sede }}</td>
                                <td>{{ citacion.form.salon }}</td>
                                <td>{{ citacion.form.numero_estudiantes }}
                                    <input type="hidden" name="id_citacion_save" value={{citacion.nuevo}}>
                                    <input type="hidden" name="id_idioma_save" value={{citacion.idioma}}>
                                </td>
                                <td>
                                    {{ citacion.form.responsable }}
                                </td>
                                <td>
                                    <button class="btn btn-primary"type='submit'>Guardar</button>
                                </td>
                                </form>
                                <td align="center"><strong>{{ citacion.cupos }}</strong></td> 
                            </tr>
                            {% else %}
                            <tr>
                                <form method='POST'>{% csrf_token %}
                                <td>{{ citacion.form.fecha_examen }}</td>
                                <td>{{ citacion.form.edad }}</td>
                                <td>{{ citacion.form.sede }}</td>
                                <td>{{ citacion.form.salon }}</td>
                                <td>{{ citacion.form.numero_estudiantes }}
                                    <input type="hidden" name="id_idioma_save" value={{citacion.idioma}}>   
                                    <input type="hidden" name="id_citacion_save" value={{citacion.id}}>
                                </td>
                                <td>
                                    {{ citacion.form.responsable }}
                                </td>
                                <td>
                                    <button class="btn btn-primary"type='submit'>Guardar</button>
                                </td>
                                </form>
                                <td align="center"><strong>{{ citacion.cupos }}</strong></td> 
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>    
                </table>
                <button class="btn btn-success pull-left" onclick="formulario_citacion()">Agregar Examen</button>
                <a href="/inscripcion/listar_citas/?tap={{tap}}" class="btn btn-primary pull-right" >Ver agendamiento de Examenes</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    
        <script type="text/javascript">
        
        function formulario_citacion(){
        var url = "/inscripcion/cita_ajax/";
        
        $.ajax({
           url: url,
           type: 'GET',
           success: function(response_data)
           {
               $('#new').show()
           }
        });
    }
    
    </script>
    {% endblock %}