{% extends '../templates/base/base.html' %}

{% block title %} Citaciones {% endblock %}
    
    {% block content %}
    <div class="col-md-8 col-md-offset-2 ">
        <ul class="nav nav-tabs">
                {% if tap == "Ingles" %}
                <li class="active" ><a>Ingles</a></li>
                {% else %}
                <li><a href="/inscripcion/listar_citas/?tap=Ingles">Ingles</a></li>
                {% endif %}
                {% if tap == "Frances" %}
                <li class="active"><a>Frances</a></li>
                {% else %}
                <li><a href="/inscripcion/listar_citas/?tap=Frances">Frances</a></li>
                {% endif %}
                {% if tap == "Italiano" %}
                <li class="active" ><a>Italiano</a></li>
                {% else %}
                <li><a href="/inscripcion/listar_citas/?tap=Italiano">Italiano</a></li>
                {% endif %}
                {% if tap == "Portugues" %}
                <li class="active" ><a>Portugues</a></li>
                {% else %}
                <li><a href="/inscripcion/listar_citas/?tap=Portugues">Portugues</a></li>
                {% endif %}
            </ul>
        
        {% if citaciones %}
        <center><h3>Citaciones de Examen agendados para {{idioma}}</h3></center>
            {% for citacion in citaciones %}
                <table id="{{citacion.id}}" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <caption>
                        <h5><strong>Descripción de Examen:</strong></h3>
                        <span style="display:inline-block"><strong>Fecha: </strong>{{citacion.fecha_examen}}</span>
                        <span style="display:inline-block; margin-left:10px"><strong>Sede: </strong>{{citacion.sede}}</span>
                        <span style="display:inline-block; margin-left:10px"><strong>Tipo: </strong>{{citacion.edad}}</span>
                        <span style="display:inline-block; margin-left:10px"><strong>Ubicación: </strong>{{citacion.salon}}</span>
                        <span style="display:inline-block; margin-left:10px"><strong>Capacidad: </strong>{{citacion.numero_estudiantes}}</span>
                    </caption>
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center" style="width:20%"># Documento</th>
                            <th class="text-center" style="width:25%">Nombre</th>
                            <th class="text-center" style="width:8%">Nota</th>
                            <th class="text-center" style="width:12%">Nivel obtenido</th>
                            <th class="text-center" style="width:8%">Citación Enviada</th>
                            <th class="text-center" style="width:27%">Cambiar Examen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if citas %}
                        {% for cita in citas %}
                            {% if cita.registro.citacion.id == citacion.id %}
                            <tr>
                                <td>{{ cita.registro.id }}</td>
                                <td>{{ cita.registro.inscripcion.persona.num_identificacion }}</td>
                                <td>{{ cita.registro.inscripcion.persona.apellidos }} {{ cita.registro.inscripcion.persona.nombres }}</td>
                                <td>
                                    {% if cita.registro.citacion_enviada == True and cita.registro.citacion.fecha_examen <= current_date %}
                                        {{ cita.form.nota }}    
                                    {% else %}
                                        No disponible
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cita.registro.citacion_enviada == True and cita.registro.citacion.fecha_examen <= current_date %}
                                        {{ cita.form.nivel_sugerido}}
                                    {% else %}
                                        No disponible
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cita.registro.citacion_enviada == True %}
                                        <center><span class="glyphicon glyphicon-ok"></span></center>
                                    {% else %}
                                        <center><span class="glyphicon glyphicon-remove"></span></center>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if cita.registro.citacion.fecha_examen >= current_date %}
                                        <select class="form-control" name="citas_disponibles" id="citas_disponibles">
                                            <option value="-">------</option>
                                            {% for examen in cita.citas_disponibles %}
                                                <option value="{{ examen.id }}">{{ examen.fecha_examen }} {{ examen.salon }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        No disponible
                                    {% endif %}
                                </td>    
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                            No hay registros
                        {% endif %}
                    </tbody>
                </table>
        <a style="margin-left:5px;" href="#" class="btn btn-success pull-right" onclick="guardar_notas('{{citacion.id}}')" >Guardar</a>
        <a style="margin-left:5px;" href="#" class="btn btn-primary pull-left" >Exportar</a><br>
        <hr size="50">
        {% endfor %}
        <center>
            <a href="/inscripcion/enviar_citas/?tap={{idioma}}" class="btn btn-primary " >Enviar citaciones pendientes</a>
            <a href="/inscripcion/agendar_citas/?tap={{idioma}}" class="btn btn-default " >Volver</a>
        </center>
        <br><br>
        {% else %}
            <h3>No existen citas para este {{idioma}}</h3>
            <a href="/inscripcion/agendar_citas/?tap={{idioma}}" class="btn btn-default " >Volver</a>
        {% endif %}
        
    </div>
    {% endblock %}
{% block scripts %}
<script>
$(document).ready(function() 
{   
    
    var citacion = '{{citaciones}}'
    console.log(citacion)
    
    console.log(citacion.length)
    
    
    var table = $('#tabla').DataTable( {
        "language": {
            url: "/static/localizacion/es_ES.json"
        }
    } );
  
    $('#tabla tbody').on( 'click', 'tr', function() 
    {
        if ($(this).hasClass('selected') ) 
        {           
            $(this).removeClass('selected');
             
        }
        else 
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');                      
        }
    });   
     
});
</script>
<script>
function guardar_notas(id_tabla) {
    
    var url="/inscripcion/guardar_notas/"
    var arrayIDs = new Array();
    var arrayNotas = new Array();
    var arrayNiveles = new Array();
    //IDs
    var rowsTables1 = $('#'+id_tabla).find('tbody > tr');
    rowsTables1.each(function(){arrayIDs.push($(this).find('td:eq(0)').text())});
    //Notas 
    var rowsTable = $('#'+id_tabla).find('tbody > tr');
    rowsTable.each(function(){arrayNotas.push($(this).find('td > input').val())});
    
    //Niveles Seleccionados
    var rowsTables = $('#'+id_tabla).find('tbody > tr');
    rowsTables.each(function(){arrayNiveles.push($(this).find('td > select').val())});
    
    var json_ids = JSON.stringify(arrayIDs);
    var json_notas = JSON.stringify(arrayNotas);
    var json_niveles = JSON.stringify(arrayNiveles);
    
    $.ajax({
        url: url,
        //csrfmiddlewaretoken: csrftoken,
        data: {'ids':json_ids,'notas':json_notas,'niveles':json_niveles},
        type: 'POST',
        success: function(response_data)
        {
            if(response_data == 0){
                location.reload();
            }
            if(response_data == 1){
                alert("Por favor revisa los datos ingresados");
            }
        }
    });
}            
</script>
{% endblock %}