{% extends '../templates/base/base.html' %}
    {% block title %} Citas Previas {% endblock %}
    
    {% block content %}
    {% if citacion %}
    {% for citas in citacion %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Fecha:</strong>{{citas.fecha_examen}}<br>
                <strong>Sede:</strong>{{citas.sede}}<br>
                <strong>Idioma:</strong>{{citas.idioma}}<br>
                <strong>Tipo:</strong>{{citas.edad}}<br>
                <strong>Cantidad:</strong>{{citas.numero_estudiantes}} estudiantes<br>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pre_inscripcion %}
                        {% for solicitudes in pre_inscripcion %}
                            {% if solicitudes.sol_examen == True and citas.idioma == solicitudes.idioma  %}
                                <tr>
                                    <td>{{solicitudes.nombres}} {{solicitudes.apellidos}}</td>
                                    <td>{{solicitudes.num_identificacion}}</td> 
                                    <td>{{solicitudes.email}}</td>
                                    {% if solicitudes.cita_creada == False %}
                                        <td><input value="Agregar Cita" id={{solicitudes.id}}{{citas.id}} onclick="cargarCita({{solicitudes.id}},{{citas.id}})" class="btn btn-success" type="button"> <input disabled value="Cancelar Cita" id=c{{solicitudes.id}}{{citas.id}} onclick="cancelarCita({{solicitudes.id}},{{citas.id}})" class="btn btn-danger" type="button" >
                                    {% else %}
                                        <td><input disabled value="Agregar Cita" id={{solicitudes.id}}{{citas.id}} onclick="cargarCita({{solicitudes.id}},{{citas.id}})" class="btn btn-success" type="button" > <input value="Cancelar Cita" id=c{{solicitudes.id}}{{citas.id}} onclick="cancelarCita({{solicitudes.id}},{{citas.id}})" class="btn btn-danger" type="button" >
                                    {% endif %}
                                </tr>
                            {% else %}
                                <p><font color="teal">No hay solicitudes para este idioma</font></p>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p><font color="teal">No hay citas</font></p>
    {% endif %}
    <a href="{% url 'inscripcion:enviar_citas' %}"><input value="Enviar Citaciones" class="btn btn-success" type="button"></a>
    {% endblock %}
    
    {% block scripts %}
    
        <script type="text/javascript">

        function cargarCita(id_preinscripcion,id_citacion){
        var identificador_inscripcion = id_preinscripcion;
        var identificador_citacion = id_citacion;
        var button_id = String(identificador_inscripcion).concat(String(identificador_citacion));
        var cancel_button_id = String("c").concat(String(identificador_inscripcion).concat(String(identificador_citacion)));
        var url = "/inscripcion/agregar_cita/"
        
        $.ajax({
           url: url,
           data: {'identificador_inscripcion':identificador_inscripcion,'identificador_citacion':identificador_citacion,
           },
           type: 'GET',
           success: function(response_data)
           {
               var boton = document.getElementById(button_id).disabled=true
               var boton_cancelar = document.getElementById(cancel_button_id).disabled = false;
           }
        });
    }
    
        function cancelarCita(id_preinscripcion,id_citacion){
        var identificador_inscripcion = id_preinscripcion;
        var identificador_citacion = id_citacion;
        var button_id = String(identificador_inscripcion).concat(String(identificador_citacion));
        var cancel_button_id = String("c").concat(String(identificador_inscripcion).concat(String(identificador_citacion)));
        var url = "/inscripcion/cancelar_cita/"
        
        $.ajax({
           url: url,
           data: {'identificador_inscripcion':identificador_inscripcion,'identificador_citacion':identificador_citacion,
           },
           type: 'GET',
           success: function(response_data)
           {
               var boton = document.getElementById(button_id).disabled=false;
               var boton_cancelar = document.getElementById(cancel_button_id).disabled = true;
               
           }
        });
    }
</script>
    {% endblock %}
