{% extends '../templates/base/base.html' %}

{% block title %}Edicion de Solicitud{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        
        <form method='POST'>
            {% csrf_token %}
            <div class="form-group">
            {{form.idioma.label_tag}}
            {{form.idioma}}
            </div>
            
            <div class="form-group">
                <label for="solicitud_examen">Solicitud de Examen</label>
                <select class="form-control" name="solicitud_examen" id="solicitud_examen">
                    {% if form.sol_examen.value == True %}
                    <option value="Deseo presentar examen">Deseo presentar examen</option>
                    <option value="No deseo presentar examen">No deseo presentar examen</option>
                    {% else %}
                    <option value="No deseo presentar examen">No deseo presentar examen</option>
                    <option value="Deseo presentar examen">Deseo presentar examen</option>
                    {% endif %}
                </select>
                <small id="emailHelp" class="form-text text-muted">Si usted tiene un conocimiento superior al básico o al de principiante, debe solicitar Examen de clasificación.</small>
            </div>
            
            <button class="btn btn-success" type='submit'>Guardar</button>
            
            <a href="https://centro-idiomas-daniel-gaviria.c9users.io/inscripcion/gestion_inscripciones/" class="btn btn-danger" type='submit'>Cancelar</a>
        </form>
</div>
{% endblock %}