{% extends '../templates/base/base.html' %}

{% block title %}Solicitudes{% endblock %}
{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <center><h3>Inscripciones Registradas</h3></center>
        <br>
        <br>
        {% if solicitudes %}
            {% for inscripcion in solicitudes %}
                {{inscripcion.idioma}}
                {% if inscripcion.sol_examen == True %}
                    <h5>Ha solicitado examen de Inscripcion</h5>
                {% else %}
                    <h5>No ha solicitado examen de Inscripcion</h5>
                {% endif %}
                <a href="https://centro-idiomas-daniel-gaviria.c9users.io/inscripcion/editar_inscripcion/{{inscripcion.id}}/" class="btn btn-primary">Editar</a>
                <a href="https://centro-idiomas-daniel-gaviria.c9users.io/inscripcion/eliminar_inscripcion/{{inscripcion.id}}/" class="btn btn-danger">Eliminar</a>
                <hr size="50">
            {% endfor %}
        {% endif %}
            
    </div>
{% endblock %}