{% load staticfiles %}
{% load permission_tags %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <!--Cargar el plugin de Datatables-->
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
        
        <title> {% block title %} Document {% endblock %}</title>
    </head>
    <body>
        
    {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Centro Idiomas</a>
            </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscripcion <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'inscripcion:inscripcion_nuevo' %}">Nueva Inscripcion</a></li>
            {% endif %}
            {% if user|has_role:'estudiante' %}
            <li><a href="{% url 'inscripcion:interfaz_continudad' %}">Formulario de Continuidad</a></li>
            <li><a href="{% url 'inscripcion:inscripcion_nuevo_idioma' %}">Solicitud de nuevo Idioma</a></li>
            <li><a href="{% url 'inscripcion:gestion_inscripciones' %}">Editar Inscripciones</a></li>
            {% endif %}
            {% if user|has_role:'administrador' %}
            <li><a href="{% url 'inscripcion:inscripcion_nuevo' %}">Nueva Inscripcion</a></li>
            <li><a href="{% url 'inscripcion:agendar_citas' %}">Gestion de Examenes</a></li>
            <li><a href="{% url 'inscripcion:confirmar_matriculas' %}">Confirmar matriculas (Financiera)</a></li>
            {% endif %}
          </ul>
        </li>
        {% if user|has_role:'administrador' %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/usuarios/registro_usuario/">Crear Usuarios</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><button type="button" class="btn btn-default navbar-btn">Iniciar Sesion</button></li>-->
        {% block sesion %}
        {% if user.is_authenticated %}
        <li><a>{{user.username}}</a></li>
        <li><a href="{% url 'usuario:cerrar_sesion'  %}">Cerrar Sesion</a></li>
        
        
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar Sesion</li></a>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}    
    
    <!-- Bloque donde va toda la información -->
    <div id="page-wrapper">
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    </body>
    <!--Jquery-->
    <script type="text/javascript" src="{% static 'jquery/jquery-3.2.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <!--Cargar el plugin de Datatables-->
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    
    {% block scripts %}
    
    {% endblock %}    