{% extends '../templates/base/base.html' %}
    {% block title %} Login {% endblock %}
{% block inscripcion %}
{% endblock %}
{% block sesion %}
{% endblock %}    

{% block content %}
<div class="col-md-6 col-md-offset-3 text-center">
    <h1><strong>CLC:</strong>Centro de Lenguas y Cultura de la Universidad del Valle</h1>
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="form-row">
            {{ formulario.username.errors }}
            {{ formulario.username.label_tag }} {{ formulario.username }}
        </div>
        <div class="form-row">
            {{ formulario.password.errors }}
            {{ formulario.password.label_tag }} {{ formulario.password }}
            <input type="hidden" name="next" value="{{ next }}" />
        </div><br>
        <div class="submit-row">
            <label>&nbsp;</label><input class="btn btn-primary" type="submit" value="Entrar" />
        </div>
    </form> 
</div>
{% endblock %}